/* 
 *	Adding portal defined styles will override default styling defined within css/base.css  
 */
body{
	width: 1200px;
	margin-top:0px;
}

/*Main table framework*/
#maintable{
	width: 100%;
	background-color:#FFFFFF;
	border:1px solid #333333;
}

#maintable td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#middleleft{
}

#middleleftnomenu{
}

#middlecenter{
	padding:0px;
}

#middleright{
}

#footer{
}

#footer p{ 
	text-align: justify; 
	margin: 0px 100px; 
}

#footer p img{ 
	display:inline-block; 
	width: 100px; 
	margin-top: auto; 
	margin-bottom: auto; 
	vertical-align: middle; 
}

#footer p:after{ 
	display: inline-block; 
	width: 100%; 
	height: 0; 
}

/*Central div in the middle center table div */
div.navpath {
}

#innertext{
}

#innertext a{
    color: #0022ff;
    text-decoration: none;
}
#innertext a:hover{
    text-decoration: underline;
}
