/config/dbconnection.php
/config/symbini.php
/footer.php
/leftmenu.php
/index.php
content/lang/index.en.php
content/lang/index.es.php
includes/footer.php
includes/leftmenu.php
includes/spprofilehead.php
includes/usagepolicy.php
includes/citationgbif.php
includes/citationcollection.php
includes/citationdataset.php
includes/citationportal.php
