/* Variables
========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/lichen_background_2024.jpg");
  --header-bg-color: #00000026; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 1.6rem;
  --logo-width: 120px;
  --menu-top-bg-color: #000000;
  --menu-font-size: 1.2rem;
  --body-bg-color: #f2f2f2;
  --body-text-color: #000000;
  --body-font-size: 1.2rem;
  --body-font-family: "Arial", sans-serif;
  --footer-bg-color: #ffffff;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #3b3b3b;
  --darkest-color: #191919;
  --medium-color: #5a5a53;
  --light-color: #f2f0e9;
  --bright-color: #b9d432;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
